# KDE Config File  
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=klines -caption "%c" %i %m  
Icon=klines
MiniIcon=klines
DocPath=klines/index.html
GenericName=Tactical Game
GenericName[af]=Taktiese Speletjie
GenericName[az]=Taktik oyunu
GenericName[be]=Тактычная гульня
GenericName[bg]=Тактическа игра
GenericName[br]=C'hoari a vrezelekaouriezh
GenericName[bs]=Taktička igra
GenericName[ca]=Joc de tàctica
GenericName[cs]=Taktická hra
GenericName[da]=Taktisk spil
GenericName[de]=Taktikspiel
GenericName[el]=Παιχνίδι τακτικής
GenericName[eo]=Taktika ludo
GenericName[es]=Juego de táctica
GenericName[et]=Taktikamäng
GenericName[eu]=Joko Taktikoa
GenericName[fa]=بازیهای تاکتیکی
GenericName[fi]=Taktinen peli
GenericName[fo]=Taktiskt spæl
GenericName[fr]=Jeu tactique
GenericName[gl]=Xogo de Tácticas
GenericName[he]=משחק טקטי
GenericName[hr]=Taktička igra
GenericName[hu]=logikai
GenericName[id]=Permainan Taktik
GenericName[is]=Herkænskuleikur
GenericName[it]=Gioco di tattica
GenericName[ja]=戦略的ゲーム
GenericName[ko]=전술 놀이
GenericName[lo]=ເກມວາງແຜນ
GenericName[lv]=Taktiskā Spēle
GenericName[mk]=Тактичка игра
GenericName[mt]=Logħba ta' tattika
GenericName[nb]=Taktikk-spill
GenericName[nl]=tactisch spel
GenericName[nn]=Taktisk spel
GenericName[nso]=Papadi ya Tactical 
GenericName[oc]=Jog de tactica
GenericName[pl]=Gra taktyczna
GenericName[pt]=Jogo de Estratégia
GenericName[pt_BR]=Tático
GenericName[ro]=Un joc de tactică
GenericName[ru]=Тактическая игра
GenericName[se]=Taktihkkaspeallu
GenericName[sk]=Taktická hra
GenericName[sl]=Taktična igra
GenericName[sr]=Taktička igra
GenericName[ss]=Umdlalo webuciko 
GenericName[sv]=Taktikspel
GenericName[th]=เกมวางแผน
GenericName[tr]=Taktik oyunu
GenericName[uk]=Тактична гра
GenericName[ven]=Mutambo wa Tactical
GenericName[vi]=Trò chơi chiến thuật 
GenericName[xh]=Umdlalo onamaqhinga
GenericName[zh_CN]=策略游戏
GenericName[zh_TW]=策略遊戲
GenericName[zu]=Umdlalo wamasu
Terminal=0
Name=Kolor Lines
Name[af]=Kleur Lyne
Name[eo]=Kolorlinioj
Name[eu]=Kolor Lineak
Name[fr]=KLines
Name[hu]=Színes vonalak
Name[it]=KLines
Name[nb]=Klinjer
Name[nso]=Methalo ya Mmala
Name[pl]=Kolorowe linie
Name[pt]=Linhas Coloridas
Name[pt_BR]=Klines
Name[ro]=Linii colorate
Name[ru]=Цветные линии
Name[sl]=Barvne črte
Name[sv]=Färglinjer
Name[tr]=K Renkli çizgiler
Name[uk]=Кольорові лінії
Name[ven]=Mitalo ya Kolor
Name[xh]=Iilayini zeKolor 
Name[zh_CN]=彩色连线
Name[zh_TW]=Kolor Lines 彩色線條
Name[zu]=Olayini bemibala
X-DCOP-ServiceType=Multi
