# KDE Config File
[Desktop Entry]
Type=Application
Exec=klines -caption "%c"
Icon=klines
X-DocPath=klines/index.html
GenericName=Tactical Game
GenericName[uk]=Тактична гра
GenericName[x-test]=xxTactical Gamexx
Terminal=false
Name=Kolor Lines
Name[uk]=Кольорові лінії
Name[x-test]=xxKolor Linesxx
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;StrategyGame;
