# KDE Config File  
[Desktop Entry]
Type=Application
Exec=klines -caption "%c" %i %m  
Icon=klines.png
MiniIcon=klines.png
DocPath=klines/index.html
Comment=
Comment[xxx]=xx
Terminal=0
Name=Klines
Name[af]=klines
Name[cs]=Čáry
Name[eo]=Linioj
Name[fr]=Lignes
Name[hu]=Színes vonalak
Name[it]=Klinee
Name[pl]=Linie
Name[pt]=Linhas
Name[pt_BR]=Linhas
Name[ru]=Собери шарики
Name[sk]=Čiary
Name[sl]=Črte
Name[sv]=Färglinjer
Name[tr]=K çizgiler
Name[xxx]=xx
X-DCOP-ServiceType=Multi
