[KGameTheme]
VersionFormat=1
Name=Crystal
Name[ast]=Cristal
Name[bs]=Kristal
Name[ca]=Crystal
Name[ca@valencia]=Crystal
Name[cs]=Křišťál
Name[da]=Crystal
Name[de]=Kristall
Name[el]=Crystal
Name[en_GB]=Crystal
Name[eo]=Crystal
Name[es]=Cristal
Name[et]=Kristall
Name[eu]=Beira
Name[fa]=بلور
Name[fi]=Kristalli
Name[fr]=Crystal
Name[ga]=Crystal
Name[gl]=Cristal
Name[hne]=क्रिस्टल
Name[hr]=Crystal
Name[hu]=Kristály
Name[it]=Cristallo
Name[ja]=クリスタル
Name[kk]=Кристалл
Name[km]=គ្រីស្តាល់
Name[ko]=Crystal
Name[lt]=Kristalas
Name[lv]=Kristāla
Name[mai]=क्रिस्टल
Name[nb]=Krystall
Name[nds]=Kristall
Name[nl]=Crystal
Name[nn]=Crystal
Name[pl]=Kryształ
Name[pt]=Cristal
Name[pt_BR]=Cristal
Name[ro]=Cristal
Name[ru]=Кристалл
Name[sk]=Kryštáľ
Name[sl]=Kristalna
Name[sq]=Kristal
Name[sr]=Кристал
Name[sr@ijekavian]=Кристал
Name[sr@ijekavianlatin]=Kristal
Name[sr@latin]=Kristal
Name[sv]=Crystal
Name[tr]=Kristal
Name[ug]=Crystal
Name[uk]=Кристал
Name[wa]=Cristå
Name[x-test]=xxCrystalxx
Name[zh_CN]=水晶
Name[zh_TW]=Crystal
FileName=klines_crystal.svgz
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Preview=crystal.png

# number of "born" animation frames in svg
NumBornFrames=11

# number of "selected" animation frames in svg
NumSelectedFrames=6

# number of "die" animation frames in svg
NumDieFrames=3

# Timing settings:

# amount of milliseconds to play one cycle of "born"-animation
BornAnimDuration=500

# amount of milliseconds to play one cycle of "selected"-animation
SelectedAnimDuration=500

# amount of milliseconds to play one cycle "die"-animation
DieAnimDuration=200

# amount of milliseconds to move the ball through one cell
MoveAnimDuration=100
