[KGameTheme]
VersionFormat=0.8
Name=Egyptian
Name[ast]=Exipciu
Name[bs]=Egipatski
Name[ca]=Egipci
Name[ca@valencia]=Egipci
Name[cs]=Egyptské
Name[da]=Egyptisk
Name[de]=Ägyptisch
Name[el]=Αιγύπτιο
Name[en_GB]=Egyptian
Name[es]=Egipcio
Name[et]=Egiptus
Name[fi]=Egyptiläinen
Name[fr]=Égyptien
Name[ga]=Éigipteach
Name[gl]=Exipcio
Name[hu]=Egyiptomi
Name[it]=Egizio
Name[kk]=Мысырша
Name[km]=អេហ្ស៊ីប
Name[lt]=Egipto
Name[lv]=Ēģiptes
Name[nb]=Egyptisk
Name[nds]=Ägyptsch
Name[nl]=Egyptenaar
Name[nn]=Egyptisk
Name[pl]=Egipski
Name[pt]=Egípcio
Name[pt_BR]=Egípcio
Name[ro]=Egiptean
Name[ru]=Египетский
Name[sk]=Egyptská
Name[sl]=Egipt
Name[sq]=Egjiptian
Name[sr]=Египатски
Name[sr@ijekavian]=Египатски
Name[sr@ijekavianlatin]=Egipatski
Name[sr@latin]=Egipatski
Name[sv]=Egyptisk
Name[tr]=Mısırlı
Name[ug]=مىسىرلىق
Name[uk]=Єгиптянин
Name[wa]=Edjipcyin
Name[x-test]=xxEgyptianxx
Name[zh_CN]=埃及
Name[zh_TW]=埃及式
Description=An Egyptian style theme for klines.
Description[bs]=Tema u Egipatskom stilu za klines.
Description[ca]=Un tema d'estil egipci pel klines.
Description[ca@valencia]=Un tema d'estil egipci pel klines.
Description[da]=Et tema til KLines i egyptisk stil.
Description[de]=Das ägyptische Design für Kolor Lines.
Description[el]=Θέμα σε Αιγυπτιακό στιλ για το klines.
Description[en_GB]=An Egyptian style theme for klines.
Description[es]=Tema de estilo egipcio para klines.
Description[et]=Klinesi Egiptuse stiilis teema.
Description[fr]=Un thème dans le style égyptien pour KLines.
Description[gl]=Tema visual de estilo exipcio para o KLines.
Description[hu]=Egyiptomi stílusú téma a KLines játékhoz.
Description[it]=Tema in stile egizio per klines
Description[kk]=Klines-тың Мысырша нақышы
Description[km]=ស្បែក​រចនាប័ទ្ម​អេហ្ស៊ីប​សម្រាប់​ klines ។
Description[nb]=Et klines-tema i egyptisk stil.
Description[nds]=Ägyptsch Musterstil för KLines
Description[nl]=Thema in Egyptische stijl voor klines.
Description[nn]=Egyptisk tema for klines.
Description[pl]=Motyw stylu Egipskiego dla Klines.
Description[pt]=Um tema de estilo Egípcio para o KLines.
Description[pt_BR]=Um tema de estilo egípcio para o klines.
Description[ru]=Оформление в египетском стиле для KLines.
Description[sk]=Egyptský štýl pre klines.
Description[sl]=Egipčanska tema za Klines
Description[sr]=Тема у египатском стилу за К‑линије.
Description[sr@ijekavian]=Тема у египатском стилу за К‑линије.
Description[sr@ijekavianlatin]=Tema u egipatskom stilu za K‑linije.
Description[sr@latin]=Tema u egipatskom stilu za K‑linije.
Description[sv]=Tema med egyptisk stil för Färglinjer.
Description[tr]=Klines için Eski Mısır stili bir tema.
Description[uk]=Тема у єгипетському стилі для klines.
Description[x-test]=xxAn Egyptian style theme for klines.xx
Description[zh_CN]=埃及风格的 KLines 主题。
Description[zh_TW]=Klines 埃及風格主題。
FileName=egyptian.svgz
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Preview=egyptian.png
Default=true

# number of "born" animation frames in svg
NumBornFrames=4

# number of "selected" animation frames in svg
NumSelectedFrames=4

# number of "die" animation frames in svg
NumDieFrames=4

# Timing settings:

# amount of milliseconds to play one cycle of "born"-animation
BornAnimDuration=500

# amount of milliseconds to play one cycle of "selected"-animation
SelectedAnimDuration=600

# amount of milliseconds to play one cycle "die"-animation
DieAnimDuration=500

# amount of milliseconds to move the ball through one cell
MoveAnimDuration=100
